-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: bizflow_promotion_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `bizflow_promotion_db`
--

/*!40000 DROP DATABASE IF EXISTS `bizflow_promotion_db`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `bizflow_promotion_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `bizflow_promotion_db`;

--
-- Table structure for table `bundle_items`
--

DROP TABLE IF EXISTS `bundle_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bundle_items` (
  `bundle_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh?a ch?nh, m? duy nh?t c?a lu?t t?ng/combo',
  `promotion_id` bigint NOT NULL COMMENT 'Kh?a ngo?i, li?n k?t v?i promotions',
  `main_product_id` bigint NOT NULL,
  `main_quantity` int NOT NULL DEFAULT '1' COMMENT 'S? l??ng s?n ph?m ch?nh c?n mua',
  `gift_product_id` bigint NOT NULL,
  `gift_quantity` int NOT NULL DEFAULT '1' COMMENT 'S? l??ng qu? t?ng/s?n ph?m ?i k?m',
  `gift_discount_type` varchar(255) NOT NULL,
  `gift_discount_value` double NOT NULL,
  `status` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `product_id` bigint NOT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`bundle_id`),
  KEY `promotion_id` (`promotion_id`),
  KEY `main_product_id` (`main_product_id`),
  KEY `gift_product_id` (`gift_product_id`),
  KEY `idx_bundle_product` (`product_id`),
  CONSTRAINT `FKnovhg7gfyangkg1ftcjhmltw6` FOREIGN KEY (`promotion_id`) REFERENCES `promotions` (`promotion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='B?ng ??nh ngh?a quy t?c Mua X t?ng Y ho?c Combo s?n ph?m';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bundle_items`
--

LOCK TABLES `bundle_items` WRITE;
/*!40000 ALTER TABLE `bundle_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `bundle_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotion_targets`
--

DROP TABLE IF EXISTS `promotion_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotion_targets` (
  `promo_target_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh?a ch?nh',
  `promotion_id` bigint NOT NULL COMMENT 'Kh?a ngo?i, li?n k?t v?i b?ng promotions',
  `product_id` int DEFAULT NULL COMMENT 'Kh?a ngo?i, li?n k?t v?i products.product_id (S?n ph?m ???c ?p d?ng)',
  `category_id` bigint DEFAULT NULL,
  `min_order_value` decimal(15,2) DEFAULT '0.00' COMMENT 'Gi? tr? ??n h?ng t?i thi?u ?? ?p d?ng (n?u c?n)',
  `max_discount_amount` decimal(15,2) DEFAULT NULL COMMENT 'S? ti?n gi?m t?i ?a (n?u l? gi?m %)',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `target_id` bigint DEFAULT NULL,
  `target_type` enum('BRANCH','CATEGORY','CUSTOMER_GROUP','PRODUCT') NOT NULL,
  PRIMARY KEY (`promo_target_id`),
  KEY `promotion_id` (`promotion_id`),
  KEY `product_id` (`product_id`),
  KEY `category_id` (`category_id`),
  KEY `idx_target_type_id` (`target_type`,`target_id`),
  CONSTRAINT `FKadouvnh81yd8a64bk7wn435je` FOREIGN KEY (`promotion_id`) REFERENCES `promotions` (`promotion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotion_targets`
--

LOCK TABLES `promotion_targets` WRITE;
/*!40000 ALTER TABLE `promotion_targets` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotions`
--

DROP TABLE IF EXISTS `promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotions` (
  `promotion_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'Kh?a ch?nh, m? duy nh?t c?a ch??ng tr?nh khuy?n m?i',
  `name` varchar(255) NOT NULL COMMENT 'T?n ch??ng tr?nh (VD: Black Friday Sale, Khai tr??ng)',
  `description` text COMMENT 'M? t? chi ti?t ch??ng tr?nh',
  `promotion_type` varchar(255) DEFAULT NULL,
  `discount_value` double DEFAULT NULL,
  `start_date` datetime NOT NULL COMMENT 'Th?i gian b?t ??u ?p d?ng',
  `end_date` datetime NOT NULL COMMENT 'Th?i gian k?t th?c',
  `applies_to` enum('ALL','PRODUCTS','CATEGORIES','CUSTOMERS') NOT NULL DEFAULT 'ALL' COMMENT '?p d?ng cho: T?t c?, S?n ph?m c? th?, Danh m?c c? th?, Kh?ch h?ng c? th?',
  `status` enum('ACTIVE','INACTIVE','EXPIRED','PENDING') NOT NULL DEFAULT 'PENDING' COMMENT 'Tr?ng th?i c?a ch??ng tr?nh',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `active` bit(1) NOT NULL,
  `code` varchar(255) NOT NULL,
  `discount_type` enum('BUNDLE','FIXED','FIXED_AMOUNT','FREE_GIFT','PERCENT') NOT NULL,
  `max_quantity` int DEFAULT NULL,
  `used_quantity` int NOT NULL,
  PRIMARY KEY (`promotion_id`),
  KEY `idx_start_end_date` (`start_date`,`end_date`)
) ENGINE=InnoDB AUTO_INCREMENT=2070 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='B?ng l?u tr? c?c ch??ng tr?nh khuy?n m?i';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotions`
--

LOCK TABLES `promotions` WRITE;
/*!40000 ALTER TABLE `promotions` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'bizflow_promotion_db'
--

--
-- Dumping routines for database 'bizflow_promotion_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-01 15:58:14
